{% extends 'base.html' %}
{% block title %}{{profile.Name}}{% endblock title %}

{% block nav %}
<nav>
    <div class="container-md navbar navbar-expand-md navbar-light bg-white">
      <a class="navbar-brand" href="#">MemeStream</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo"
        aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarTogglerDemo">

        <div class="nav navbar-nav ml-auto">

          <a class="nav-item nav-link " href="/user/">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>
            </a>
          <a class="nav-item nav-link" href="/profile/"><img src="{{profile.profile_pic.url}}" width="30" height="30" class="rounded-circle"/></a>
          <a class="nav-item nav-link" href="/addpost/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
</svg></a>
            <a class="nav-item nav-link" href="/logout/"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
</svg></a>


        </div>
      </div>
    </div>
  </nav>
{% endblock nav %}
{% block mid %}
{% for i in data %}
<div class="row m-2">
	<div class="col-md-4" >
		<div class="card shadow-lg" style="width: 350px;" id="cardcolor">
            <div class="card-body">
                <div class="card-info">
                    <img src="{{i.User_Name.profile_pic.url}}" width="30" height="30" class="rounded-circle">
                    <b> {{i.User_Name.Name}}</b>
                    </div>

				<p class="card-info">{{i.Caption}}</p>
			</div>
			<img src="{{i.Image.url}}" class="card-img" height="300px" id="albumpic">
		</div>
	</div>
</div>
{% endfor %}
{% endblock mid %}
{% block last %}
{% endblock last %}
